* Globals */
a,
a:focus,
a:hover {
  color: #fff;
}
html,
body {
  height: 100%;
  text-align: center;
  background-color: #191b22;
}
body {
  color: #fff;
}
.hide {
  display: none;
}
.landing-heading {
  font-family: 'Lato', Sans-Serif;
  font-weight: 400;
}

/* Buttons */
.btn {
  font-family: 'Lato', Sans-Serif;
  padding: 0.5625rem 2.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.75rem;
  border-radius: 0 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-lg {
  font-size: 1.5rem;
  padding: 0.6875rem 3.4375rem;
  line-height: 2.5rem;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn-primary {
  color: #fff;
  border: 1px solid #2c96ff;
  background-color: #2c96ff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  border: 1px solid #1a6ec0;
  background-color: #1a6ec0;
}

/* Avatar */
.avatar {
  width: 100px;
  height: 100px;
}
.avatar-section {
  margin-bottom: 25px;
  display: flex;
  text-align: left;
}
.username {
  margin-left: 20px;
}

/* Scaffolding */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100vh;
  min-height: 100%;
}
.site-wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100vh;
}
.panel-authed {
  padding: 0 0 0 0;
}

/* Home button */
.btn-home-hello {
  position: absolute;
  font-family: 'Source Code Pro', monospace;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  top: 15px;
  left: 15px;
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* Input */
input,
textarea {
  color: #000;
  padding: 10px;
}
.input-status {
  width: 100%;
  height: 70px;
  border-radius: 6px;
}
.new-status {
  text-align: right;
}

/* Statuses */
.statuses {
  padding-top: 30px;
}
.status {
  margin: 15px 0px;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 6px;
}